@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-image: url("background.jpg");
    background-color: #E5E4E2;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.motto {
    /*color: white;*/
    color:black;
    font-size: 35px;
    text-align: center;
    margin: 30px;
}
.header {
    display: inline;
}
a {
    padding: 20px;
    font-size: 20px;
}
a:link, a:visited {
    color:black;
    text-decoration: none;
}
a:active {
    color: #54C571;
    text-decoration: none;
}
a.this-page {
    color: #54C571;
}
.user-help {
    display: inline;
    margin-left: 95%;

}
.help {
    display: inline;
    margin-left: 10px;
}
.user {
    /*float: right;
    margin-right: 30px;*/
    display: inline;
}
.main {
    margin-top: 30px;
}
#chart {
    border: 1px solid black;
    display: block;
}
img {
    display: block;
}