@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-image: url("background3.png");
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 100%;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.motto {
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 30px;
}
.header {
    display: inline;
}
a {
    padding: 20px;
    font-size: 20px;
}
a:link, a:visited {
    color:#FFFFFF;
    text-decoration: none;
}
a:active {
    color: #54C571;
    text-decoration: none;
}
a.this-page {
    color: #54C571;
}
.user-help {
    display: inline;
    margin-left: 95%;

}
.help {
    display: inline;
    margin-left: 10px;
}
.user {
    /*float: right;
    margin-right: 30px;*/
    display: inline;
}
.main {
    margin-top: 30px;
}

/*table, td, tr {
    border: 1px solid black;
}*/
.new-program {
    visibility: hidden;
}
.add-program {
    margin-left: 3%;
}
.add-prgm {
    border: 1px solid white;
    text-decoration: none;
    font-size: 16px;
    background-color: #54C571;
    color: white;
    padding: 5px 20px;
    margin: 15px 5px;
}
.btn {
    padding: 10px;
    width: 250px;
    font-size: 20px;
}
.legs-program {
    visibility: hidden;
}
